@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

* {
   box-sizing: border-box;
   outline: none;
}

body {
   background-color: #e2e2e2;
   font-family: "Poppins", sans-serif;
   margin: 0;
   padding-top: 3rem;
}

/* making heading div center  */
.heading {
   text-align: center;
}

/* styling the title  */
.heading h1 {
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   font-size: 3.5rem;
   -webkit-text-fill-color: #5cff77;
   -webkit-text-stroke: 2px black;
}

/* styling subtitle  */
.heading p {
   margin-top: -2.5rem;
   font-weight: 500;
   color: #7c7c7c;
}

/* styling the description  */
.add_new {
   padding: 20px 40px;
   background-color: #e2e2e2;
   display: inline-block;
   margin-top: 2rem;
   border-radius: 20px;
   box-shadow: 19px 19px 38px #c5c5c5, -19px -19px 38px #ffffff;
}

.add_new span {
   color: #ff7373;
}

/* styling notes parent division, centering it with flex  */
.note_app {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

/* "add note" button at the top  */
.add {
   position: fixed;
   top: 1rem;
   right: 1rem;
   color: #1a1a1a;
   box-shadow: 4px 3px 10px #00000021, -4px -3px 10px white;
   border: none;
   padding: 0.5rem 1rem;
   cursor: pointer;
   border: 1px solid #0000000a;
   background-color: #5cff77;
   border-radius: 5px;
   font-family: "Poppins", sans-serif;
}

/* stylign single note  */
.note {
   box-shadow: 4px 4px 12px #00000021, -4px -4px 15px white;
   margin: 20px 20px;
   width: 350px;
   border-radius: 10px;
}

/* styling the tools on each note  */
.note .tools {
   display: flex;
   justify-content: flex-end;
   padding: 0.5rem;
   background-color: transparent;
}

/* styling button of tools  */
.tools button {
   margin-left: 5px;
   border: none;
   background-color: #5cff77;
   padding: 6px 8px;
   border-radius: 50%;
   cursor: pointer;
   color: #242424;
}

/* styling the text area  */
.note textarea {
   outline: none;
   font-family: inherit;
   font-size: 1.2rem;
   border: none;
   background-color: transparent;
   height: 200px;
   width: 100%;
   padding: 0 20px;
}

.main {
   padding: 20px;
}

.hidden {
   display: none;
}

 /* styling footer section  */
.footer {
   text-align: center;
   margin: 3rem;
   font-weight: 500;
}

.help_btn {
   display: flex;
   justify-content: center;
}
.info_btn {
   font-family: inherit;
   background-color: #5cff77;
   border: none;
   cursor: help;
   font-weight: bold;
   padding: 5px 10px;
   border-radius: 5px;
   box-shadow: 4px 3px 10px #00000021, -4px -3px 10px white;
}

.info_btn:hover::after{
   content: "You can also use markdown to write your notes, if you are not familiar about markdown language then google about it , it is pretty easy to master.";
   color: black;
   background-color: #ff7373;
   position: absolute;
   bottom: 10px;
   border: 1px dashed black;
   font-weight: 400;
   padding: 10px;
   margin: 0 auto;
   z-index: 999;
}
